img > #cclogo {
  height: 32;
  width: 64;
  margin: auto;
}

#imagenModal {
  height: 280px;
  width: 200px;
}

.serepite {
  height: 425px;
}

.cabecera {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url('../images/topandbot.jpg');
  background-repeat: no-repeat;
  margin: auto;
  padding: 5px;
  height: 60px;
}

.logo {
  width: 100px;
  height: 50px;
  background-color: orange;
}

.titulo {
  font-size: 24px;
  font-style: italic;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.tituloFooter {
  font-size: 2vw;
  font-style: italic;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.imagenModalc {
    margin-left: 0;
}

.contenidoMio {
    width: 100%;
}

.inflex {
    display: flex;
    flex-flow: row wrap;
}

#horarios {
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  margin-left: 5px;
}

.botonera {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.nombreModalc {
    width: 100%;
    font-size: 48px;
    font-style: bold;
}

#pagination-1 {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.forselector {
  height: 425px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-image: url('../images/topandbot.jpg');
  background-repeat: no-repeat;
  margin-top: 0px;
}

#descripcionModal {
  width: 100%;
  margin-left: 5px;
}

.titulo {
    margin-left: 20px;
    font-size: 2vw;
}

.card-image:hover {
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

#pagination-1 > ul {
  border: 2px solid black;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 20px #000;
}

.tituloPeli {
  font-size: 1.5vw;
}


/***************************************
********     PAGINA RESERVA     ********
***************************************/

#listaLeyenda {
  width: 200px;
  height: 450px;
  margin: auto;
}

#session {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#listaLeyenda2 {
  width: 250px;
  height: 145px;
  margin: auto;
}

#formatoAsiento {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.disabled{
  pointer-events: none;
  fill:red;
  stroke-width:1;
  stroke:rgb(0,0,0);
}

#botonPagar {
  width: 100%;
  align-content: center;
}

.fondito {
  background-image: url('../images/topandbot.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

#sala {
  width: 680px;
  height: 70%;
  border: 2px solid black;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

#asientos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#backReserva {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tituloLeyenda {
  width: 150px;
  font-size: 16px;
  color: white;
}


/***************************************
*********     MEDIA QUERYS     *********
***************************************/

@media only screen and (max-width:270px){
  .titulo
    {
        display: none;
    }
    .tituloFooter
    {
      display: none;
    }
    .footer {
      height: auto;
      width: 100%;
      position: fixed;
      right: 0;
      bottom: 0;
      background-image: url('../images/topandbot.jpg');
      background-repeat: no-repeat;
    }
    #horarios {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
    }
  .serepite {
    width: 95%;
    height: auto;
    margin: auto;
  }
}

@media only screen and (min-width: 270px) and (max-width: 420px) {
    .titulo
    {
      display: none;
    }
    .tituloFooter
    {
      display: none;
    }
  .serepite {
    width: 200px;
    height: auto;
    margin: auto;
  }  
}

@media only screen and (min-width: 420px) and (max-width: 535px) {
.serepite {
  width: 48%;
  height: auto;
  margin: auto;
}  
}

@media only screen and (min-width: 535px) and (max-width: 550px) {
  .serepite {
    width: 48%;
    height: auto;
    margin: auto;
  }  
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
  .serepite {
    width: 32%;
    height: auto;
    margin: auto;
  }  
}

@media only screen and (min-width: 800px) and (max-width: 910px) {
  .serepite {
    width: 24%;
    height: auto;
    margin: 2px;
  }
  .forselector {
    height: 425px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 910px) {
  .serepite {
    width: 16%;
    height: auto;
  }  
}