img > #cclogo {
  height: 32;
  width: 64;
  margin: auto;
}

#imagenModal {
  height: 280px;
  width: 200px;
}

.serepite {
  height: 425px;
}

.cabecera {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url('../images/topandbot.jpg');
  background-repeat: no-repeat;
  margin: auto;
  padding: 5px;
  height: 60px;
}

.logo {
  width: 100px;
  height: 50px;
  background-color: orange;
}

.titulo {
  font-size: 24px;
  font-style: italic;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.tituloFooter {
  font-size: 2vw;
  font-style: italic;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.imagenModalc {
    margin-left: 0;
}

.contenidoMio {
    width: 100%;
}

.inflex {
    display: flex;
    flex-flow: row wrap;
}

#horarios {
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  margin-left: 5px;
}

.botonera {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.nombreModalc {
    width: 100%;
    font-size: 48px;
    font-style: bold;
}

#pagination-1 {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.forselector {
  height: 425px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-image: url('../images/topandbot.jpg');
  background-repeat: no-repeat;
  margin-top: 0px;
}

#descripcionModal {
  width: 100%;
  margin-left: 5px;
}

.titulo {
    margin-left: 20px;
    font-size: 2vw;
}

.card-image:hover {
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

#pagination-1 > ul {
  border: 2px solid black;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 20px #000;
}

.tituloPeli {
  font-size: 1.5vw;
}


/***************************************
********     PAGINA RESERVA     ********
***************************************/

#listaLeyenda {
  width: 200px;
  height: 450px;
  margin: auto;
}

#session {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#listaLeyenda2 {
  width: 250px;
  height: 145px;
  margin: auto;
}

#formatoAsiento {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.disabled{
  pointer-events: none;
  fill:red;
  stroke-width:1;
  stroke:rgb(0,0,0);
}

#botonPagar {
  width: 100%;
  align-content: center;
}

.fondito {
  background-image: url('../images/topandbot.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

#sala {
  width: 680px;
  height: 70%;
  border: 2px solid black;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

#asientos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#backReserva {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tituloLeyenda {
  width: 150px;
  font-size: 16px;
  color: white;
}


/***************************************
*********     MEDIA QUERYS     *********
***************************************/

@media only screen and (max-width: 270px){
  .titulo
    {
        display: none;
    }
    .tituloFooter
    {
      display: none;
    }
    .footer {
      height: auto;
      width: 100%;
      position: fixed;
      right: 0;
      bottom: 0;
      background-image: url('../images/topandbot.jpg');
      background-repeat: no-repeat;
    }
    #horarios {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
    }
  .serepite {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #listaLeyenda2 {
    transform: scale(1);
  }

  #listaLeyenda {
    height: 280px;
    width: 90%;
    margin-bottom: 15px;
  }

  #listaLeyenda > li {
    height: 160px;
    width: 100%;
    margin: 0;
  }

  #listaLeyenda > li > .fondito {
    height: 160px;
    width: 100%;
  }

  .tituloLeyenda {
    font-size: 10px;
  }

  .fondito > div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .fondito > div > h5 {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg * {
    transform: scale(0.8);
  }

  .contenidoMio > .row > #cuentaForm {
    width: 100%;
  }

  .contenidoMio > .row > #fechaForm {
    width: 100%;
  }

  .contenidoMio > .row > #ccvForm {
    width: 100%;
  }

  #sala {
    width: 99%;
    height: auto;
    border: 2px solid black;
    margin-top: 50px;
    background-color: white;
    border-radius: 3px;
  }

  #svgpantalla {
    width: 70px;
    height: 30px;
  }

  #svgpantalla > g > rect {
    width: 70px;
    height: 30px;
  }

  #svgpantalla > g > text {
    font-size: 8px;
  }

  #asientos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 240px;
    width: 240px;
    margin: auto;
  }

  #asientos * {
    width: 24px;
    height: 24px;
  }

  #asientos * {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 665px) {
  /*------------------*/
  #listaLeyenda2 {
    height: 175px;
    margin: 5px;
    width: 98%;
  }

  #listaLeyenda {
    width: 98%;
    height: auto;
    margin: 5px;
  }

  #sala {
    width: 99%;
  height: auto;
  border: 2px solid black;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  }

  #asientos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 570px;
  }

  #asientos {
    transform: scale(1);
  }

  #asientos * {
    width: 10%;
    height: 10%;
  }

  #asientos > g > rect {
    width: 50%;
  }

}

@media only screen and (min-width: 380px) and (max-width: 465px) {
  /*------------------*/
  #listaLeyenda2 {
    transform: scale(1);
  }

  #listaLeyenda {
    height: 265px;
    width: 95%;
    margin: 0;
  }

  #listaLeyenda > li {
    height: 220px;
    width: 100%;
    margin: 0;
  }

  #listaLeyenda > li > .fondito {
    height: 220px;
    width: 100%;
  }

  .fondito > div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .fondito > div > h5 {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg * {
    transform: scale(0.8);
  }

  #sala {
    width: 90%;
    height: auto;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }

  #asientos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 330px;
    width: 330px;
    margin: auto;
  }

  #asientos * {
    width: 32px;
    height: 32px;
  }

  #asientos * {
    transform: scale(0.7);
  }
}

@media only screen and (min-width: 465px) and (max-width: 670px) {
  /*------------------*/
  #listaLeyenda2 {
    transform: scale(1);
  }

  #listaLeyenda {
    height: 265px;
    width: 95%;
    margin: 0;
  }

  #listaLeyenda > li {
    height: 220px;
    width: 100%;
    margin: 0;
  }

  #listaLeyenda > li > .fondito {
    height: 220px;
    width: 100%;
  }

  .fondito > div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .fondito > div > h5 {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg * {
    transform: scale(0.8);
  }

  #sala {
    width: 90%;
    height: auto;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }

  #asientos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    margin: auto;
  }

  #asientos * {
    width: 30px;
    height: 30px;
  }

  #asientos * {
    transform: scale(0.7);
  }
}

@media only screen and (min-width: 270px) and (max-width: 320px) {
  #listaLeyenda2 {
    transform: scale(1);
  }

  #listaLeyenda {
    height: 200px;
    width: 90%;
    margin: 5px;
  }

  #listaLeyenda > li {
    height: 160px;
    width: 100%;
    margin: 0;
  }

  #listaLeyenda > li > .fondito {
    height: 160px;
    width: 100%;
  }

  .tituloLeyenda {
    font-size: 10px;
  }

  .fondito > div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .fondito > div > h5 {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg * {
    transform: scale(0.8);
  }

  #sala {
    width: 99%;
    height: auto;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }

  #svgpantalla {
    width: 70px;
    height: 30px;
  }

  #svgpantalla > g > rect {
    width: 70px;
    height: 30px;
  }

  #svgpantalla > g > text {
    font-size: 8px;
  }

  #asientos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 240px;
    width: 240px;
    margin: auto;
  }

  #asientos * {
    width: 24px;
    height: 24px;
  }

  #asientos * {
    transform: scale(0.7);
  }
}

@media only screen and (min-width: 320px) and (max-width: 380px) {
  /*------------------*/
  #listaLeyenda2 {
    transform: scale(1);
  }

  #listaLeyenda {
    height: 200px;
    width: 90%;
    margin: 5px;
  }

  #listaLeyenda > li {
    height: 160px;
    width: 100%;
    margin: 0;
  }

  #listaLeyenda > li > .fondito {
    height: 160px;
    width: 100%;
  }

  .tituloLeyenda {
    font-size: 10px;
  }

  .fondito > div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .fondito > div > h5 {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg {
    height: 100%;
    width: 48%;
  }

  .fondito > div > svg * {
    transform: scale(0.8);
  }

  #sala {
    width: 95%;
    height: auto;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }

  #svgpantalla {
    width: 100px;
    height: 40px;
  }

  #svgpantalla > g > rect {
    width: 100px;
    height: 40px;
  }

  #svgpantalla > g > text {
    font-size: 16px;
  }

  #asientos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 280px;
    width: 280px;
    margin: auto;
  }

  #asientos * {
    width: 28px;
    height: 28px;
  }

  #asientos * {
    transform: scale(0.7);
  }
}

@media only screen and (min-width: 270px) and (max-width: 420px) {
    .titulo
    {
      display: none;
    }
    .tituloFooter
    {
      display: none;
    }
  .serepite {
    width: 200px;
    height: auto;
    margin: auto;
  }
  #horarios {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
}

@media only screen and (min-width: 420px) and (max-width: 535px) {
.serepite {
  width: 48%;
  height: auto;
  margin: auto;
}
#horarios {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
}

@media only screen and (min-width: 535px) and (max-width: 550px) {
  .serepite {
    width: 48%;
    height: auto;
    margin: auto;
  }  
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
  .serepite {
    width: 32%;
    height: auto;
    margin: auto;
  }
  #horarios {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
}

@media only screen and (min-width: 660px) and (max-width: 900px) {
  #listaLeyenda2 {
    height: 175px;
    width: 98%;
    margin: 5px;  
  }
  #listaLeyenda {
    width: 480px;
    height: auto;
    margin: 5px;
    float: left;
  }
}


@media only screen and (min-width: 800px) and (max-width: 910px) {
  .serepite {
    width: 24%;
    height: auto;
    margin: 2px;
  }
  .forselector {
    height: 425px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  #horarios {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 910px) {
  .serepite {
    width: 16%;
    height: auto;
  } 
  #horarios {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1125px) {
  #horarios {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 980px) {
  .serepite {
    width: 16%;
    height: auto;
  } 

  #horarios {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    margin-left: 5px;
  }

  #listaLeyenda2 {
    height: 175px;
    width: 98%;
    margin: 5px;  
  }

  #listaLeyenda {
    width: 25%;
    height: 530px;
    margin: 5px;
  }

  #listaLeyenda > li {
    width: 99%;
    height: 530px;
  }

  #listaLeyenda > li > .fondito {
    width: 99%;
    height: 490px;
  }

  #sala {
    width: 73%;
  height: auto;
  border: 2px solid black;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  }
}